.listItem {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.listItem:not(:last-child) {
  padding-bottom: 20px;
}

.contactBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.removeBtn {
  margin-right: 20px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputBlock {
  display: flex;
  flex-direction: column;
}

.inputChange {
  border: none;
}

.inputChange:not(:last-child) {
  margin-bottom: 10px;
}
